snippet sub "sub start template"
#!/usr/bin/env $1
# Usage: `!v substitute(expand('%:t'),'-',' ','')` $2
# Summary: $3
# Help: $4

$0
endsnippet

snippet ruby "ruby/main based sub template"
#!/usr/bin/env ruby
# Summary: $1
# Help: --help

ARGV.replace(%w(help)) if ARGV.empty?

Main do
  description <<-__
  $0
  __

  def run ; help! ; end
end

BEGIN {
  require 'rubygems'
  require 'bundler/setup'
  require 'main'
}
endsnippet
